<% include partials/_head %>
<body>
    <div class="container">
        <h1>Welcome to TinyApp</h1>
        <p>The App that lets you shrink URLs</p>
        <div>
            <a href="/register">Register</a>
            <a href="/login">Login</a>
        </div>
    </div>
</body>