<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
  <header>
    <h1>TinyApp</h1>
  </header>
  <body>
    <form action="/login" method="post">
      <label for="email">E-mail: </label>
      <input type="email" name="email" id="email">
      <label for="password">Password: </label>
      <input type="password" name="password" id="password">
      <button type="submit">Login</button>
    </form>
    <form action="/register" method="get">
      <button type="submit">Register</button>
    </form>
    
  </body>
</html>