<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>

</head>
<header>
  <h1>TinyApp</h1>
</header>
<body>
  <form action="/register" method="post">
    <label for="firstName">First Name: </label>
    <input type="text" name="firstName" id="firstName">
    <label for="lastName">Last Name: </label>
    <input type="text" name="lastName" id="lastName">
    <label for="email">E-mail: </label>
    <input type="email" name="email" id="email">
    <label for="password">Password: </label>
    <input type="password" name="password" id="password">
    <button type="submit">Register: </button>
  </form>
</body>
</html>