<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>

</head>
<header>TinyApp</header>
<body>
  <form action="/urls" method="post">
    <label for="email">Email</label>
    <input type="email" name="email" id="email">
    <label for="name">Username</label>
    <input type="text" name="username" id="name">
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
    <button type="submit">Register</button>
  </form>
</body>
</html>