<header>
  <% include partials/_header %>
</header>
<a href="/urls">Return to list of URLs</a>
<h1>ShortURL: http://<%=host%>/u/<%= shortURL %></h1>
<form action="/urls/<%=shortURL%>" method="post"> 
  <input type="text" name="longURL" id="longURL" value="<%=longURL%>">
  <button>Update</button>
</form>