<header>
  <% include partials/_header %>
</header>
<h1>ShortURL: <%= shortURL %></h1>
<form action="/urls/<%=shortURL%>" method="post"> 
  <input type="text" name="longURL" id="longURL" value="<%=longURL%>">
  <button>Update</button>
</form>