<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <header>
        <% include partials/_header %>
    </header>
    <!-- Add your EJS code here -->
  <h1>Tiny App</h1>
  <h2>List of URLs</h2>
  <ul>
      <% for (short in urls) { %>
        <li><a href='#'><%= urls[short] %> : <%= short %></a></li>
      <% } %>
  </ul>
</body>
</html>