*, *::after, *::before{
  box-sizing: inherit;
  margin: 0;
  padding: 0;

}
html{
  font-size: 62.5%;
  height: 100%;
}

.register__body {
  min-height: 100%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background: url('./background_image2.jpg') no-repeat center center;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
}

.register__header{
  display:flex;
  flex-direction: column;
  align-items: center;
  color: #444;
}

.header__title{
  font-size: 4.5rem;
}

.header__description{
  font-size: 2.2rem;
  margin-top: 1rem;
  color: #666;
}

.register__container{
  min-width: 50%;
  margin-top: 5rem;
}
.register__form{
  display: flex;
  flex-direction: column;
}

.register__input-group{
  font-size: 2rem;
  padding: .8rem 0;
  display: flex;
  flex-direction: column;
}

.register__input-group > label {
  display: none;
}

.register__input-group > input {
  height: 3rem;
  padding: 2rem 1rem;
  font-size: 1.6rem;
  margin-top: 1.5rem;
  border: none;
  border-bottom: 2px solid #eee;
  outline:none;
  transition: .5s;
  border-radius: .3rem;
  color: #666;
  background-color: ;
  -webkit-box-shadow: 0 0 0 30px #ffffffd7 inset !important;
}

.register__input-group > input:focus{
  outline:none;
  border-bottom: 2px solid green;
  background-color: aliceblue;
  -webkit-box-shadow: 0 0 0 30px #ffffffd7 inset !important;
}

.register__button{
  margin-top: 2rem;
  padding: 1.2rem 1rem;
  font-size: 2.5rem;
  border: none;
  border-radius: .3rem;
  background-size: 200%;
  background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
  transition: .4s all;
  color: #444;
  cursor: pointer;
}

.register__button:hover{
  background-position: right center;
  color: #fff; /* change the direction of the change here */
}

.register__button:focus{
  outline: none;
}

.register__login{
  margin-top: 2rem;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
}

.register__login a:link,
.register__login a:visited{
  text-decoration: none;
  color: #6aa0f8;
  transition: .2s ease-in;
}

.register__login a:hover{
  color: #2d7eff;
}

.urls__body{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  box-sizing: border-box;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  position: relative;
  
}

.urls__img{
  background-image: url('./background_image2.jpg');
  height: 100vh;
  width: 100%;
  filter: blur(30px);
  -webkit-filter: blur(8px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.urls__container{
  width: 70%;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 4rem 2rem;
  margin-top: 4rem;
  border-radius: 2rem;
  min-height: 90vh;
}

.urls__header{
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid #ddd;
}

.urls__header h1{
  font-size: 3rem;
  align-self: center;
  color: #666;
}

.urls__user{
  display: flex;
  align-self: flex-end;
  margin-top: -4rem;
}

#logout{
  border:none;
  margin-left: .5rem;
  cursor: pointer;
  color: #6aa0f8;
  background: none;
}

#logout:hover{
  color: #0a68ff;
  text-decoration: underline;
}

.urls__section-container{
  /* width: 80%; */
  margin: 0 auto;
  padding-top: 1rem;
  
}

.urls__section-header{
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center
}

.urls__title{
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #666;
}

.urls__section-header a:link, 
.urls__section-header a:visited{
  text-decoration: none;
  color: #6aa0f8;
  font-size: 1.5rem;
  transition: .2s all;
}

.urls__section-header a:hover{
  color: #3d7bdf;
  /* text-decoration: underline; */
}

.urls__list{
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  justify-content: center;
}

.urls__list li{
  margin: 1rem;
  background-color: rgba(248, 247, 247,0.4);
  padding: 5rem 2rem 0 2rem;
  list-style: none;
  font-size: 1.6rem;
}

.urls__list-header{
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-style: italic;
  font-size: 1.4rem;
}

.urls__short{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.urls__action{
  display: flex;
  justify-content: space-between;
  width: 7rem;
  margin-left: 2rem;
}
.btn, 
.btn-delete{
  border: none;
}

.btn:focus
.btn-delete:focus{
  outline: none;
}

i{
  font-size: 1.7rem;
  background-color: rgba(248, 247, 247,0.4);
  color: #6aa0f8;
  outline: none;
}

i:focus{
  outline: none;
}

i:hover{
  color: #3d7bdf; 
  cursor: pointer;
}